.card {
  padding: 0.75em;
  background-color: white;
  border-radius: 8px;
  display: flex;
}

.image {
  height: 80px;
  width: 80px;
}

.spotContent {
  flex: auto;
  padding-left: 1em;
}

.spotTitle {
  font-weight: bold;
}

.spotRating {
  display: flex;
  align-items: center;
}

.spotDetails {
  display: flex;
}

.spotPrice {
  flex: 0 1 auto;
}

.divider {
  padding: 0 0.5em;
}

.spotSummary {
  flex: 1 1 auto;
}

.spotFavorite {
  flex: 0 1 auto;
}
