.card {
  margin: 0.75em;
  padding: 0.75em;
  background-color: white;
  border-radius: 0.25em;
  display: flex;
  box-shadow: 1px 1px 3px gray;
}

.image {
  flex: 0 1 auto;
  height: 80px;
  width: 80px;
}

.spotContent {
  flex: auto;
  padding-left: 1em;
}

.spotTitle {
  font-weight: bold;
}
