.container {
  min-height: 100vh;
  height: 100vh;
  background-color: whitesmoke;
}

.toolbar {
  height: 4em;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px gray;
  background-color: white;
  padding: 0 3em;
}

.logo {
  flex: 0 1 auto;
}

.search {
  flex: auto;
  display: flex;
  justify-content: flex-end;
}

.filterButton {
  border-radius: 3px;
}

.searchInput {
  margin: 0 2em;
  padding: 1em 1.25em;
  border: 1px solid gray;
  border-radius: 3px;
  font-weight: bold;
  color: gray;
}

.content {
  height: calc(100vh - 4em);
  display: flex;
  flex-flow: row;
}

.leftDrawer {
  overflow-y: scroll;
  width: 30%;
}

.map {
  flex: auto;
}
