.container {
  min-height: 100vh;
  height: 100vh;
  background-color: whitesmoke;
}

.toolbar {
  height: 5em;
  display: flex;
  align-items: center;
  background-color: white;
  padding-left: 3em;
}

.logo {
  flex: 0 1 auto;
}

.logoSubtitle {
  font-size: 36px;
  color: lightgrey;
  padding-left: 8px;
  font-weight: lighter;
  font-family: "Arial";
}

.search {
  flex: auto;
  display: flex;
  justify-content: flex-end;
}

.searchInput {
  margin: 0 2em;
  padding: 0.75em 1.25em;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  width: 26em;
  font-weight: bold;
  color: gray;
  font-size: 16px;
}

.content {
  box-shadow: 0 0px 2px gray inset;
  height: calc(100vh - 5em);
  display: flex;
  flex-flow: row;
}

.leftDrawer {
  overflow-y: scroll;
  width: 30%;
  padding-top: 1em;
}

.map {
  flex: auto;
}
